.aside__destacados{
    width: 13%;
     height: 820px;
     float: right;
     margin-right: 21px !important;
     z-index: 1;
 }

.aside_deporte{
    width: 13%;
    height: 820px;
    margin-left: 1%;
    float: left;
    z-index: 1;
}

.aside__destacados__text{
    font-weight: 700;
    font-family: 'Instrument Serif', serif;
}