h1 {
    font-weight: 400;
    font-family: 'Instrument Serif', serif;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
}

h6{
    text-align: center;
    font-weight: 400;
    font-family: 'Instrument Serif', serif;

}

h3{
    text-align: center;
    font-weight: 400;
    font-family: 'Instrument Serif', serif;
}

hr{
    width: 98%;
    margin-left: 1%;
}

.main__noticia{
    width: 70%;
    height: 820px;
    position: absolute;
    margin-left: 15%;
}

.main__noticia__img {
    text-align: center;
    margin-top: 5%;
}

.main__noticia__img__text{
    font-weight: 700;
    font-family: 'Instrument Serif', serif;
    margin-top: 2px;
}

.main__noticia__title{
    text-align: center;
    font-weight: 700;
    font-family: 'Instrument Serif', serif;
}

.main__noticia__title h2{
    font-size: 2.9rem;
}

.main__noticia__subtitle{
    font-weight: 400;
    font-family: 'Instrument Serif', serif;
    font-size: 1.5rem;
}