.navbar-brand {
    color: white;
    font-weight: 400;
    font-family: 'Instrument Serif', serif;
    font-size: 1.8rem;
}

.nav-link{
    color: white;
    font-weight: 400;
    font-family: 'Instrument Serif', serif;
    font-size: 1.2rem;
}

.dropdown-item{
    font-weight: 400;
    font-family: 'Instrument Serif', serif;
    font-size: 1.3rem;
    opacity: 85%;
}
